<h1>Editing Pet History</h1>

<%= render 'form', pet_histories: @pet_history %>
<!-- %= render "pet_histories/form_histories" % -->

<%= link_to 'Show', @pet_history %> |
<%= link_to 'Back', pet_histories_path %>
